# .htaccess для beget.ru
# Перенаправление всех запросов на Passenger

PassengerEnabled On
PassengerAppRoot /home/l/larimagu/wt.larimaritgroup.ru/public_html
PassengerBaseURI /
PassengerPython /home/l/larimagu/wt.larimaritgroup.ru/public_html/venv/bin/python
